@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* import all component css files after the styles for index page has been applied */
@import url(./pages/alert/alert.css);
@import url(./pages/avatar/avatar.css);
@import url(./pages/badge/badge.css);
@import url(./pages/button/button.css);
@import url(./pages/cards/cards.css);
@import url(./pages/colors/colors.css);
@import url(./pages/grid/grid.css);
@import url(./pages/image/image.css);
@import url(./pages/input/input.css);
@import url(./pages/list/list.css);
@import url(./pages/modal/modal.css);
@import url(./pages/navigation/navigation.css);
@import url(./pages/rating/rating.css);
@import url(./pages/toast/toast.css);
@import url(./pages/slider/slider.css);

:root {
  --black-color: #282828;
  --grey-color: #9a9a9a;
  --white-color: #ffffff;
  --lynx-white: #f7f7f7;
  --lynx-grey: #c5c5c5;
  --primary-color: #14213d;
  --secondary-color: #f3f4f6;
  --danger-color: #dc2626;
  --warning-color: #fbbf24;
  --success-color: #34d399;
  --text-muted-color: #6c757d;
  --action-color: #3b82f6;
  font-family: 'Roboto', sans-serif;
}
/* CSS resets */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Typography */
h1 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 900;
}
h2 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 900;
}
h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 900;
}
h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 900;
}
h5 {
  font-size: 0.5rem;
  line-height: 1rem;
  font-weight: 900;
}
.x-large-text {
  font-size: 3rem;
  line-height: 4rem;
}
.large-text {
  font-size: 2rem;
  line-height: 2.5rem;
}
.medium-text {
  font-size: 1.5rem;
  line-height: 2rem;
}
.small-text {
  font-size: 1rem;
  line-height: 1.5rem;
}
.x-small-text {
  font-size: 0.5rem;
  line-height: 1rem;
}
.text-muted {
  color: var(--text-muted-color);
}
.text-center {
  text-align: center;
}
/* Navbar */
.navbar {
  display: flex;
  align-items: baseline;
  padding: 1rem;
}
.navbar .right-nav {
  margin-left: auto;
}
ul {
  padding: 0;
  margin: 0;
}
.right-nav li {
  list-style: none;
  display: inline-block;
  padding: 0.8rem;
}
/* Body */
.container-center {
  width: 80%;
  padding-top: 8rem;
  margin: 0 auto;
  text-align: center;
}
/* button */
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.active {
  color: var(--action-color);
}
.btn {
  padding: 0.5em;
  margin: 1em;
  min-width: 8rem;
  min-height: 3rem;
  transition: all 0.5s ease-in-out;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  font-weight: 600;
}
.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}
.primary-btn {
  background-color: var(--primary-color);
  color: var(--white-color);
}
.secondary-btn {
  border: 1px solid var(--primary-color);
}
/* Center div */
.body-center {
  margin: 0 auto;
  width: 80%;
}
/* flex container */
.container-flex {
  display: flex;
}
.aside {
  flex-basis: 20%;
  margin-right: 1rem;
}
.section {
  flex-grow: 0;
  margin-left: 1rem;
  width: 60%;
  margin: 0 auto;
}
.aside li {
  list-style-type: none;
  padding: 0.5rem;
}
/* border bottom  */
.underline {
  border-bottom: 1px solid var(--lynx-grey);
}
.section-content {
  padding-bottom: 1rem;
}
/* carbonsh code example */
iframe {
  margin-top: 10px;
  width: 100%;
}
/* code examples */
.example-code {
  background-color: var(--lynx-white);
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid var(--lynx-grey);
}
/* media query */
/* Laptop screens */
@media (max-width: 1024px) {
  .body-center {
    margin: 0 auto;
    width: 90%;
  }
}
/* medium screens */
@media (max-width: 768px) {
  .aside {
    display: none;
  }
  .section {
    width: 90%;
  }
}
/* Mobile screens */
@media (max-width: 480px) {
  .navbar {
    padding: 0.5rem;
  }
  .navbar h2 {
    font-size: 1.5rem;
  }
  .navbar li {
    padding: 5px;
  }

  .container-center {
    padding-top: 5rem;
  }
  .body-center {
    margin: 0 auto;
    width: 100%;
  }
}
/* Edge case of galazy fold */
@media (max-width: 290px) {
  .navbar li {
    font-size: 0.8rem;
  }
}
