@import url(../list/list.css);
.example-code .navbar {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.navbar button {
  background-color: transparent;
  outline: none;
  border: none;
  width: 50px;
  cursor: pointer;
}
.navbar .right-nav {
  height: inherit;
}
.navbar {
  align-items: center;
  flex-wrap: wrap;
}
.navbar .hamburger {
  width: 100%;
  height: 50px;
  display: block;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
}
.navbar .collapsable-content {
  display: none;
  width: 100%;
}
.show {
  display: block;
}
