/* add scroll behavior to have smooth transition  */

html {
  scroll-behavior: smooth;
}
/* contained button */
.error-btn {
  background-color: var(--danger-color);
  color: var(--white-color);
  border: 1px solid var(--danger-color);
}
.success-btn {
  background-color: var(--success-color);
  color: var(--black-color);
  border: 1px solid var(--success-color);
}
/* outline buttons */
.btn-outline-primary {
  border: 1px solid var(--primary-color);
}
.btn-outline-primary:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}
.btn-outline-success {
  border: 1px solid var(--success-color);
  color: var(--success-color);
}
/* hover state of outline buttons */
.btn-outline-success:hover {
  background-color: var(--success-color);
  color: var(--white-color);
}
.btn-outline-danger {
  border: 1px solid var(--danger-color);
  color: var(--danger-color);
}
.btn-outline-danger:hover {
  background-color: var(--danger-color);
  color: var(--white-color);
}
/* icon buttons  */
.btn i {
  padding: 5px;
}
/* floating button example used in HTML */
.floating-example-btn {
  background-color: var(--action-color);
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  color: var(--white-color);
}
/* floating button to actually use in the code */
.floating-btn {
  background-color: var(--action-color);
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 5px;
  right: 20px;
}
.floating-btn {
  color: var(--white-color);
}
