@import url(../../index.css);
.color-example {
  display: flex;
  flex-wrap: wrap;
}
.color-example > * {
  padding: 1rem;
  width: 150px;
  height: 150px;
}
.primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}
.secondary {
  background-color: var(--secondary-color);
  color: var(--black-color);
}
.danger {
  background-color: var(--danger-color);
  color: var(--white-color);
}
.warning {
  background-color: var(--warning-color);
  color: var(--black-color);
}
.success {
  background-color: var(--success-color);
  color: var(--black-color);
}
