.card > * {
  margin: 0;
  padding: 0;
  padding-left: 10px;
}
.card {
  /* background-color: red; */
  /* font-size: 1rem; */
  height: max-content;
  background-color: transparent;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  row-gap: 1.2rem;
  border-radius: 1rem;
  margin-top: 2rem;
  width: 100%;
  max-width: 350px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px 1.95px;
}
.text-overlay {
  position: relative;
  padding: 0;
}
.text-overlay .card-header {
  color: white;
  position: absolute;
  /* top: 0; */
  bottom: 0;
  padding: 10px;
}
.card-image {
  padding: 0;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}
.card-footer {
  /* font-size: 1.5rem; */
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 0;
  margin-bottom: 5px;
}
.card-footer button {
  margin: 5px;
}
.text-card > * {
  display: none;
}
.text-card p,
.text-card h3 {
  padding: 10px;
  display: block;
}
.badge .card-badge {
  top: 10px;
}
.card-dismiss {
  position: relative;
}
.card-dismiss .card-dismiss-btn {
  position: absolute;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  height: 40px;
  width: 40px;
  right: 10px;
  padding: 5px;
  /* border-radius: 0 1rem 0 0; */
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}
.card-dismiss-btn:hover {
  font-size: 2.5rem;
}
.card-horizontal .card-horizontal-header {
  display: flex;
  padding: 0;
  gap: 10px;
}
.card.card-horizontal .card-image {
  width: 150px;
  object-fit: cover;
  border-radius: 1rem 0 0 0;
}
